mat-card {
    width: 80%;
    height: 50%;
    margin: 1rem auto 0 auto;
    justify-content: center;
    display: flexbox;
}

mat-card-header {
    justify-content: center;
    align-items: center;
}

mat-card-title,
mat-card-subtitle {
    text-align: center;
}

img {
    height: 120px;
    position: relative;
    margin-left: 45%;
}